@font-face {
    font-family: Cfont1;
    src: url('Fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    
    
}

@font-face {
    font-family: Cfont2;
    src: url('Fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    
    
}

@font-face {
    font-family: Figtree-ExtraBold;
    src: url('Fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Figtree-Medium;
    src: url('Fonts/static/Figtree-Medium.ttf') format('truetype');
}




body{
    /* margin: 0;
    padding: 0; */
    background:#F4D04E;
    
}


.card{
    
    width: 384px;
    height: 522px;



    margin: 37%;
    padding: 24px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #111111;
    overflow: hidden;

    box-sizing: border-box;

    box-shadow: 8px 8px 0px 0px;
    
}

.svgimage{
    /* background-color: #111111; */
    /* margin: auto; */
    /* border: 2px blue; */
    /* padding: 20px; */
    /* border-radius: 10px; */
    width: 336;
    height: 200;
    border-radius: 10px;
}


.learn{
    /* box-sizing: border-box; */
    /* height: 29px;
    width: 82px; */
    font-family: Figtree-Medium;
    display: inline;
    padding: 4px 12px 4px 12px;
    background-color: #F4D04E;
    border-radius: 4px;
    font-size: 14px;

}

.ln-bg{
    /* padding-top: 24px; */
    /* padding: 3px; */
    width: 82px;
    height: 24px;
    margin: 12px 0px 6px 0px;
    display: flow-root;
    margin-top: 24px;

}


.gr{
    position: relative;
    top: -12px;
    font-size: 14px;
    font-family: Figtree-ExtraBold;
}




.sec-ldiv{
    color: #6B6B6B;
    font-family: Figtree-Medium;
    margin: 11px;
    margin-left: 0px;
    margin-bottom: 24px;
    
}



















